/* desktop 878px */

/* ************************************************************************************************************************************************************************************************ */



@media screen and (max-width: 878px) {

    :root {
        --card-width: calc((100%)/4);
    }

}





/* ********************************************************************************************************************************************************************************************************* */


/* desktop 639px */

/* ************************************************************************************************************************************************************************************************ */

@media screen and (max-width: 639px) {

    :root {
        --card-width: calc((100%)/2);
    }

}




/* ********************************************************************************************************************************************************************************************************* */




/* desktop 878px */

/* ************************************************************************************************************************************************************************************************ */

@media screen and (max-width: 552px) {

    .col-left {

        #logo-big {
            display: none;
        }

        #logo-small {
            display: block;
        }

        .main-nav span{
            display: none;
        }

        .play{
            display: none;
        }

    }

}


/* ********************************************************************************************************************************************************************************************************* */