/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

img {
    max-width: 100%
}

ul {
    list-style: none;
}

a {
    color: inherit;
}


/* debug */

.dotted{
    border: dotted red 5px;
}


/* DISPLAY NONE */

#logo-big{
    padding-top: 10px;
    width: 80%;
}

#logo-small{
    display: none;
}

/* layout */

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


:root{
    --seek-height: 7vh;
    --nav-width: 200px;
    --card-width: calc((100%)/6);
    --fix-bar-height: 100px;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
}


/* MAIN */



/* COL LEFT */

.col-left{
    width: var(--nav-width);
    background-color: black;
    
    color: #6E6E6E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
    padding-bottom: calc(var(--seek-height) + 15px);


  

    .logo,
    li,
    .play h2,
    .play span,
    .admin{
        padding-left: 20px;
        padding-right: ;
    }


    .main-nav{
        flex-grow: 1;
        padding: 30px 0px;
        display: flex;
        gap:15px;
        flex-direction: column;

        .navigation ul li{
            display: flex;
            gap:10px;
            height: 30px;
            align-items: center;
            width: 90%;
            border-left: black 7px solid;

            i{
                font-size: 1.2rem;
                width: 15%;
                
            }

        }

        

        .play{

            h2{
                color: white;
                margin-bottom: 20px;
                font-size: 1.1rem;
            }

            span{
                display: flex;
                align-items: center;
                gap:5px;
                margin-bottom: 20px;
            }

            i{
                font-size: 1.7rem;
            }

            li{
                margin-bottom: 10px;
            }
        }

    }

    .admin{
        padding-right: 20px;

        span{
            display: flex;
            padding-bottom: 10px;
            align-items: center;
            gap: 7px;
        }

        .user{
            color:white;
            padding-top: 17px;
        }
    }


    /* COL-LEFT:HOVER */


    .navigation ul li:hover{
        color: white;
        border-left: solid 7px green;
    }

    .play{
        span:hover{
            color: white;
        }
        
        li:hover{
            color: white;
        }
    }

    .admin{

        span:hover{
            color: white;
        }
    }

}



/* COL RIGHT */

.col-right{
    width: calc(100% - var(--nav-width));
    background-color: #141922;
    color: white;
    position: relative;
    overflow: auto;

    .fix-bar{
        position: sticky;
        width: 100%;
        height: var(--fix-bar-height);
        top: 0;
        

        .upgrade{
            background-color: rgb(8, 11, 18);
            text-align: end;
            padding: 20px;

        }

        .nav-bar ul{
            color: #73757A;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #141922;

            li{
                margin: 10px;
                width: 100px;
            }
        }

    }

    .play-window{
        height: 100%;
        /* overflow-y: auto; */
        /* padding-top: var(--fix-bar-height); */

        .songs{
            display: flex;
            flex-wrap: wrap;

            .song-card{
                width: var(--card-width);
                display: flex;
                flex-direction: column;

                img{
                    height: 60%;
                }
            }

        }

    }




}



/* SEEK BAR */

.seek-bar{
    height: var(--seek-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(40, 40, 40);
    z-index: 9999;
    position: fixed;
    width: 100%;
    bottom: 0;

    .progress-bar{
        
    }

}

br{
    display: block;
    height: 10px;
    color: red;
}